.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 100%;
  padding: 20px 10px;
  background-color: $white;
}
.menu {
  margin: 0 0 40px;
  text-align: center;
  .site-image {
    width: 100%;
    height: 100%;
    margin: 0 auto 10px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    color: $dark;
  }
  a {
    text-decoration: none;
  }
  p {
    font-size: 16px;
    margin: 0 0 10px;
  }
  .menu-list {
    font-size: 24px;
    list-style-type: none;
    text-align: left;
    line-height: 1;
    li {
      margin-bottom: 31px;
      &:last-of-type {
        margin-bottom: 26px;
      }
    }
  }
}
.content-box {
  padding: 20px;
  padding-left: 260px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

footer {
  .copyright {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}

.post {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 11rem;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s ease;
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);
  &:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 15px 45px -10px rgba(10, 16, 34, .2);
  }

  .post-thumbnail {
    width: 30%;
    max-width: 100%;
    min-height: 11rem;
    background-size: cover;
    background-position: 50% 50%;
  }

  .post-content {
    padding: 1rem;
    width: 70%;
    .post-date {
      font-size: 12px;
    }
    .post-title {
      margin: 0 0 10px;
      font-size: 30px;
      font-weight: 400;
      a {
        font-family: 'PT Serif', serif;
        text-decoration: none;
        color: $dark-blue;
      }
    }
    p {
      margin-top: 0;
    }
  }
}

a.older-posts, a.newer-posts {
  font-size: 18px;
  display: inline-block;
  color: $body-color;
  transition: transform .2s;
}

a.older-posts:hover {
  transform: translateX(5px);
}

a.newer-posts:hover {
  transform: translateX(-5px);
}