@import 'variables';

/* Medium Devices, Desktops */
@media only screen and (max-width : 1023px) {
  .post {
    width: 50%;
    max-width: 100%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 21px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .sidebar {
    position: relative;
    display: block;
    width: 100%;
    height: 94px;
    margin: 0;
  }
  .menu {
    .site-image {
      position: absolute;
      width: auto;
      height: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;     
      margin: 0;
    }
    .site-img { display: none; }
    .site-img-small, h1 {
      display: block;
      position: absolute;
      width: auto;
      max-width: 60%;
      height: auto;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    h1.yes-site-img-small { display: none; }
    .navbar {
      .navicon {
        position: absolute;
        display: block;
        width: 94px;
        height: 94px;
        top: 0;
        right: 0;
        text-align: center;
        .fa {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        &.navicon-open {
          color: $white;
          background: $dark;
        }
      }
      .menu-list {
        position: absolute;
        display: none;
        top: 94px;
        right: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        line-height: 2;
        z-index: 10;
        li {
          background: $white;
          border-top: 1px solid $gray;
          margin: 0;
          padding: 0 32px 0;
          &:last-of-type {
            border-bottom: 1px solid $gray;
          }
        }
        &.menu-list-open {
          display: block;
        }
        &:hover, &:active {
          display: block;
        }
      }
      .sns-icons {
        display: none;
      }
    }
  }
  .content-box {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  .contact-title, .copyright {
    display: none;
  }
  .article-page, .blog-tags {
    width: 100%;
    margin-left: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .menu {
    .site-image {
      right: 94px;
    }
    .site-img-small {
      max-width: 100%;
    }
  }
  .post {
    width: 100%;
    max-width: 100%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 21px;
        }
      }
    }
  }
}
