---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="menu">
      <div class="site-image">
        <a href="{{site.baseurl}}/">{% if site.site-img %}<img src="{{site.baseurl}}/assets/img/{{site.site-img}}" alt="{{site.title}}">{% else %}<h1>{{site.title}}<br />ロゴ{% endif %}</h1></a>
      </div>
      <ul class="menu-list">
        <li>レシピ</li>
        <li>読み物</li>
        <li>イベント</li>
        <li>過去の記事</li>
        <li>運営団体</li>
      </ul>
    </div>
  </header> <!-- End Header -->
  <footer>
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.organization}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
