---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="menu">
      <div class="site-image">
        <a href="{{site.baseurl}}/">
          {% assign no-site-img = true %}
          {% assign no-site-img-small = true %}
          {% if site.site-img %}{% assign no-site-img = false %}<img class="site-img" src="{{site.baseurl}}/assets/img/{{site.site-img}}" alt="{{site.title}}">{% endif %}
          {% if site.site-img-small %}{% assign no-site-img-small = false %}<img class="site-img-small" src="{{site.baseurl}}/assets/img/{{site.site-img-small}}" alt="{{site.title}}">{% endif %}
          {% if no-site-img or no-site-img-small %}
          <h1 class="{% if site.site-img %}{{ 'yes-site-img' }}{% endif%}{% if site.site-img-small %}{{' yes-site-img-small'}}{% endif %}">{{site.title}}</h1>
          {% endif %}
        </a>
      </div>
      <div class="navbar">
        <div class="navicon" tabindex="1">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <ul class="menu-list" tabindex="1">
          <li>レシピ</li>
          <li>読み物</li>
          <li>イベント</li>
          <li>過去の記事</li>
          <li>運営団体</li>
        </ul>
        <ul class="sns-icons">
          <li class="sns-icon"><a href="https://instagram.com" target="_blank"><img src="{{site.baseurl}}/assets/img/instagram.svg"></a></li>
          <li class="sns-icon"><a href="https://facebook.com/" target="_blank"><img src="{{site.baseurl}}/assets/img/facebook.svg"></a></li>
        </ul>
      </div>
    </div>
  </header> <!-- End Header -->
  <footer>
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.organization}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
